<div class='modal'>
  <div id='my_modal_body_5'>
    <a class='close-button-small'>X</a>
    <form class='my-form'>
      <ul class='form-list-2'>
        <li>
          <label>
            Name
            <input type='text'/>
          </label>
        </li>
        <li>
          <label>
            Email
            <input type='email'/>
          </label>
        </li>
      </ul>
      <div class='footer'>
        <button>Submit</button>
      </div>
    </form>
  </div>
</div>
