.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#my_modal_body_5 {
  background: white;
  width: 300px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  position: relative;
}

.modal #my_modal_body_5 .close-button-small {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Arial Black';
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
