.Form-inputList {
  list-style: none;
}

.Form-inputListItem {
  margin-bottom: 15px;
}

.Form-input {
  border: 1px solid black;
  padding: 5px;
  margin-left: 5px;
  width: 220px;
}

.Form-submit {
  margin-left: auto;
  padding: 10px 15px;
  border-radius: 3px;
}

.Form-footer {
  display: flex;
  margin-top: 40px;
}
