.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Modal-body {
  background: white;
  width: 300px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  position: relative;
  padding: 50px 30px;
}

.Modal-closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Arial Black';
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
